body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* To work with Material-UI */
div .root {
  flex-grow: 1;
}
div .oauth {
  display: flex;
  padding-top: 10px;
}
a.google,
a.fitbit,
a.twitter {
  /* background-color: rgb(194, 168, 23); */
  margin: auto;
}
